.video-title {
  color: black;
}

.video-info {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  display: -webkit-box;
  margin: auto;
  overflow: hidden;
  width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.video-item {
  display: flex;
  align-items: center !important;
  justify-content: center;
  cursor: pointer;
  text-align: left;
  margin: 20px 0;
}

.video-item.item img {
  max-width: 285px;
  max-height: 250px;
}
